html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.body-class {
    background-image: url(../Divers/Pictures/Background/space.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}


.h1-text {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #fff6ff;
    font-size: 50px;
    font-family: "Space Grotesk", sans-serif;
    border-bottom: 1px solid #fff6ff;
    box-shadow: 0 4px 4px rgba(191, 172, 172, 0.5);
}



/* Style de ma barre de nav */
.navigation-class {
    display: flex;
    justify-content: center; 
    gap: 70px; 
    align-items: center; 
    margin-top: 20px; 
    margin-bottom: 150px;
}

/* paramètres de petite anim sous catégo */
.navigation-class a {
    border-radius: 15px;
    text-decoration: none; 
    transition: transform 0.6s ease;
}

.navigation-class a:hover {
    text-decoration: none; 
    transform: scale(1.1);   
}




/* dropdown parent aesthetic */
.dropbtn {
    background-color: black; 
    color: #f6f6f6;
    font-size: 16px;
    padding: 20px;
    margin-right: 50px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.4s ease; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.dropbtn:hover {
    background-color: black;
    box-shadow: 0 0 15px rgba(205, 198, 198, 0.8);
}


/* Style de la dropdown */
dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: white;
    min-width: 130px;
    z-index: 1;
    overflow: hidden;
    margin-top: 2px;
    transform: translateY(10px);
}

.dropdown-content a {
    color: black;
    font-size: 14px;
    padding: 15px;
    text-decoration: none;
    display: block; 
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.4;
    text-align: center; 
    transition: all 0.1s ease;
}

.dropdown-content a:hover {
    background-color: rgba(75, 73, 73, 0.1);
    color: #070707;
}

/* Afficher le dropdown au survol */
.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    border-radius: 5%;
}



/* ajout d'un media query écrans de >600px */
@media (max-width: 600px) {
    .h1-text {
        font-size: 30px; 
        margin-top: 5px;
    }

    .body-class {
        background-size: contain; /* pour les petits écrans */
    }
}







#sun {
    width: 100%;
    height: auto;
    position: relative;
    top: -8rem; 
        box-shadow: 0px 0px 25px -15px rgba(11, 11, 11, 0.8);
        border-radius: 50%;
        transition: box-shadow 0.8s ease;
            animation: rotate 5s linear infinite, pulse 4s ease-in-out infinite;
            filter: drop-shadow(10px 0px 10px rgba(249, 195, 3, 0.8)); /* for my light around the sun */
            border-radius: 50%; /* radius for the light just above */
}

#mercury {
    position: relative;
    top: 2rem; 
    left: 6rem;
width: 40%;
height: auto;
box-shadow: 15px 30px 10px rgba(0, 0, 0, 0.7);
    border-radius: 60%; /* arrondit les bords */
    transition: box-shadow 15s ease; 
        animation: gentleFloat 4s ease-in-out infinite;
}

#venus {
    position: relative;
    top: 1rem; 
    left: 2rem;
    width: 60%;
    height: auto;
        box-shadow: 10px 30px 10px rgba(15, 15, 15, 0.3); /* ombre principale */
        border-radius: 80%; 
        transition: box-shadow 8s ease; 
    }
    
#earth {
    width: 80%;
    height: auto;
        box-shadow: 10px 30px 10px rgba(15, 15, 15, 0.2); /* ombre principale */
        border-radius: 80%; 
        transition: box-shadow 6s ease; 
            animation: rotate 160s linear infinite;
    }

#mars {
    position: relative;
    top: 1rem; 
    width: 60%;
    height: auto;
        box-shadow: 10px 30px 10px rgba(15, 15, 15, 0.15); /* ombre principale */
        border-radius: 80%; 
        transition: box-shadow 4s ease; 
    }

#jupiter {
    width: 100%;
    height: auto;
        box-shadow: 10px 40px 20px rgba(56, 54, 54, 0.1); /* ombre principale */
        border-radius: 80%; 
        transition: box-shadow 10s ease;
            animation: floating 6s ease-in-out infinite;
    }

#saturn {
    width: 100%;
    height: auto;
    }

#uranus {
    position: relative;
    top: 1rem; 
    width: 70%;
    height: auto;
    }

#neptune  {
    position: relative;
    top: 1.5rem; 
    width: 60%;
    height: auto;
    animation: floating 4s ease-in-out infinite;
    transform-origin: center; 
    }




/* Responsive styling */
@media (max-width: 600px) {
    .footer-logo {
        width: 30px;
    }
    .footer-text {
        font-size: 12px;
    }
}




/* Footer CSS */
.futuristic-footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, rgba(18, 18, 36, 0.9), rgba(28, 28, 48, 0.9));
    padding: 5px 0;
    color: rgba(200, 200, 200, 0.7);
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    font-family: "Space Grotesk", sans-serif;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer-logo {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0px 0px 6px #84e8ec); /* Pour l'effet lumineux avant de passer la souris */
}

.footer-logo:hover {
    transform: scale(1.1); 
    filter: drop-shadow(0px 0px 10px #5387aa); 
}

.footer-text {
    font-size: 13px;
    margin-bottom: -5px;
    color: #cfcfe2;
    letter-spacing: 0.8px;
    opacity: 0.9;
}

/* Responsive styling */
@media (max-width: 600px) {
    .footer-logo {
        width: 30px;
    }
    .footer-text {
        font-size: 12px;
    }
}





/* animations of pulsation for my SUN */

@keyframes pulse {
    0%, 100% {
        transform: scale(1); /*Basic size*/
    }
    50% {
        transform: scale(1.03); /* Size we ask for the pulsation */
    }
}


/* Rotations of planets with more personalisation in the #IDPlanet */
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/* Effect who's more like... natural for a planet with a quick rotation as neptune */
@keyframes oscillate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg); 
    }
    100% {
        transform: rotate(-10deg); 
    }
}

@keyframes floating {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}








/* PAGE PIONEERS OF SPACE */

/* Nav bar */
.sticky-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(135deg, rgba(18, 18, 36, 0.9), rgba(28, 28, 48, 0.9));
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(62, 62, 62, 0.3);
    font-family: "Space Grotesk", sans-serif;
    z-index: 1000;
}

/* Container for navbar items to ensure alignment */
.sticky-navbar > div {
    display: flex;
    align-items: center;
}

/* Boutton Home */
#home-button {
    width: 40px;
    height: auto;
    margin-right: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
    border-radius: 50%; /* Maintient le bouton en cercle en tout temps */
}

#home-button:hover {
    transform: scale(1.2);
    border-radius: 90%;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.7);
}

/* Style des boutons */
.sticky-navbar .dropdown {
    position: relative;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0.8);
    color: #f6f6f6;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    border: none; 
    outline: none; 
}

.dropbtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(205, 198, 198, 0.8);
    color: #fff;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1;
}

.centered-dropdown .dropdown-content {
    left: 50%;
    transform: translateX(-50%);
    margin-left: -120px; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.2s ease;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}