html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}



.body-class {
    background-image: url(../Divers/Pictures/Background/space.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}


.h1-text {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #fff6ff;
    font-size: 50px;
    font-family: "Space Grotesk", sans-serif;
    border-bottom: 1px solid #fff6ff;
    box-shadow: 0 4px 4px rgba(191, 172, 172, 0.5);
}







/* ajout d'un media query écrans de >600px */
@media (max-width: 600px) {
    .h1-text {
        font-size: 30px; 
        margin-top: 5px;
    }

    .body-class {
        background-size: contain; /* pour les petits écrans */
    }
}






#sun {
    width: 100%;
    height: auto;
    position: relative;
    top: -8rem; 
        box-shadow: 0px 0px 25px -15px rgba(11, 11, 11, 0.8);
        border-radius: 50%;
        transition: box-shadow 0.8s ease;
            animation: rotate 5s linear infinite, pulse 4s ease-in-out infinite;
            filter: drop-shadow(10px 0px 10px rgba(249, 195, 3, 0.8)); /* for my light around the sun */
            border-radius: 50%; /* radius for the light just above */
}

#mercury {
    position: relative;
    top: 2rem; 
    left: 6rem;
width: 40%;
height: auto;
box-shadow: 15px 30px 10px rgba(0, 0, 0, 0.7);
    border-radius: 60%; /* arrondit les bords */
    transition: box-shadow 15s ease; 
        animation: gentleFloat 4s ease-in-out infinite;
}

#venus {
    position: relative;
    top: 1rem; 
    left: 2rem;
    width: 60%;
    height: auto;
        box-shadow: 10px 30px 10px rgba(15, 15, 15, 0.3); /* ombre principale */
        border-radius: 80%; 
        transition: box-shadow 8s ease; 
    }
    
#earth {
    width: 80%;
    height: auto;
        box-shadow: 10px 30px 10px rgba(15, 15, 15, 0.2); /* ombre principale */
        border-radius: 80%; 
        transition: box-shadow 6s ease; 
            animation: rotate 160s linear infinite;
    }

#mars {
    position: relative;
    top: 1rem; 
    width: 60%;
    height: auto;
        box-shadow: 10px 30px 10px rgba(15, 15, 15, 0.15); /* ombre principale */
        border-radius: 80%; 
        transition: box-shadow 4s ease; 
    }

#jupiter {
    width: 100%;
    height: auto;
        box-shadow: 10px 40px 20px rgba(56, 54, 54, 0.1); /* ombre principale */
        border-radius: 80%; 
        transition: box-shadow 10s ease;
            animation: floating 6s ease-in-out infinite;
    }

#saturn {
    width: 100%;
    height: auto;
    }

#uranus {
    position: relative;
    top: 1rem; 
    width: 70%;
    height: auto;
    }

#neptune  {
    position: relative;
    top: 1.5rem; 
    width: 60%;
    height: auto;
    animation: floating 4s ease-in-out infinite;
    transform-origin: center; 
    }



    

/* Responsive styling */
@media (max-width: 600px) {
    .footer-logo {
        width: 30px;
    }
    .footer-text {
        font-size: 12px;
    }
}







/* animations of pulsation for my SUN */

@keyframes pulse {
    0%, 100% {
        transform: scale(1); /*Basic size*/
    }
    50% {
        transform: scale(1.03); /* Size we ask for the pulsation */
    }
}


/* Rotations of planets with more personalisation in the #IDPlanet */
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/* Effect who's more like... natural for a planet with a quick rotation as neptune */
@keyframes oscillate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg); 
    }
    100% {
        transform: rotate(-10deg); 
    }
}

@keyframes floating {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}








/* PAGE PIONEERS OF SPACE */
 /*linear-gradient(135deg, rgba(18, 18, 36, 0.9), rgba(28, 28, 48, 0.9)); VERSION BASIQUE NO CLINGY*/

/* Nav bar */
.sticky-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url(../Divers/Pictures/Background/galaxie-cligno.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px 0;
    box-shadow: 0 2px 20px rgba(102, 102, 102, 0.3);
    font-family: "Space Grotesk", sans-serif;
    z-index: 1000;
    gap: 30px; 
}
/* Container for navbar items to ensure alignment */
.sticky-navbar > div {
    display: flex;
    align-items: center;
    margin-bottom: -8px;
}

/* Boutton Home */
#home-button {
    width: 50px;
    height: auto;
    margin-right: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #b5b0b00c;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
    border-radius: 50%; 
}

#home-button:hover {
    transform: scale(1.2);
    border-radius: 90%;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.7);
}




h3 {
    display: flex;
    color: white;
    font-family: "Space Grotesk", sans-serif;
}


h2 {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-top: 120px;
    color: white;
    font-family: "Space Grotesk", sans-serif;

}


.paragraphe-pioneers {
    text-align: justify;
}

.main-div {
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    padding: 10px;
    justify-content: space-between;
    gap: 30px;
}

.section1-div, .section2-div, .section3-div, .section4-div {
    flex: 1 1 45%;
    padding: 20px;
    font-family: "Space Grotesk", sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

p {
    color: white;
}

